@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #034EA2;
  --brand-hover: #111827;
  --secondary: #111827;
  --accent: #EAF3FF;
}

body {
  @apply bg-white text-gray-900;
}

:root {
  --brand: #034EA2;
  --brand-hover: #111827;
  --brand-text: #034EA2;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand: var(--brand);
  --color-brand-hover: var(--brand-hover);
  --color-brand-text: var(--brand-text);

  --color-background: var(--brand);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #034EA2;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}
